.card {
  max-width: 413px;
  width: 100%;
}

.card__image {
  height: 413px;
  width: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.card__title {
  margin: 0;
  max-width: 353px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 24px;
  font-weight: 500;
  font-size: 20px;
  color: #212121;
}

.card__like-button {
  background: url(../images/like\ button.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 23px;
  height: 20px;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  opacity: 0.4;
}

.card__like-button:hover {
  color: #212121;
  cursor: pointer;
  opacity: 1;
}

@media screen and (max-width: 627px) {
  .card__title {
    max-width: 250px;
    font-size: 16px;
  }

  .card__image {
    height: 288px;
    width: 288px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .card {
    width: 100%;
  }
}
