.header {
  background-color: #fff;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  font-family: "DM Mono", Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 26.04px;
}

.header__logo {
  width: 94px;
  height: 26px;
}
